trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'

- script: |
    cd backend
    npm install
  displayName: 'Install backend dependencies'

- task: AzureWebApp@1
  inputs:
    azureSubscription: 'edusphere-connection'
    appName: 'edusphere-api'
    package: 'backend'
    
